Multi_User_Email_Categorization.json
{
  "name": "Multi_User_Email_Categorization",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Check if this is Microsoft's validation request\nconst incomingData = $input.item.json;\n\nconsole.log('🔔 Webhook received');\n\nconst validationToken = incomingData.validationToken || incomingData.query?.validationToken;\n\nif (validationToken) {\n  console.log('✅ Validation request detected');\n  return {\n    json: {\n      isValidation: true,\n      validationToken: validationToken\n    }\n  };\n}\n\nconsole.log('📧 Email notification detected');\nreturn {\n  json: {\n    isValidation: false,\n    rawData: incomingData\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2464,
        9392
      ],
      "id": "a1ea544e-042d-475f-8491-59ede0bdf444",
      "name": "Check_If_Validation1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "86f97400-eb2a-4d34-a7aa-9e26b18572d7",
              "leftValue": "={{ $json.isValidation }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2256,
        9392
      ],
      "id": "61ae66be-4cc5-4301-88cc-5f66ef031f10",
      "name": "Is_Validation_Request1"
    },
    {
      "parameters": {
        "jsCode": "// Simple Deduplication - Process only FIRST 'created' event per message\nconst rawData = $input.item.json.rawData;\n\n// Handle BOTH nested and direct structures\nlet notifications = [];\nif (Array.isArray(rawData.body)) {\n  // Nested structure: body is an array\n  notifications = rawData.body?.[0]?.body?.value || [];\n} else if (rawData.body?.value) {\n  // Direct structure: body is an object with value array\n  notifications = rawData.body.value;\n} else {\n  notifications = [];\n}\n\nconsole.log(`📬 Processing ${notifications.length} notification(s)`);\n\nif (notifications.length === 0) {\n  console.log('⚠️  No notifications found in webhook payload');\n  return [];\n}\n\nconst results = [];\nconst seenMessages = new Set(); // Track within this batch\n\nfor (const notification of notifications) {\n  const subscriptionId = notification.subscriptionId;\n  const clientState = notification.clientState; // user_id\n  const resourceData = notification.resourceData || {};\n  const messageId = resourceData.id;\n  const changeType = notification.changeType;\n  \n  const dedupeKey = `${clientState}_${messageId}`;\n  \n  console.log(`📧 Notification:`);\n  console.log(`   User ID: ${clientState}`);\n  console.log(`   Message ID: ${messageId}`);\n  console.log(`   Change Type: ${changeType}`);\n  \n  // FILTER 1: Only process 'created' events\n  if (changeType !== 'created') {\n    console.log(`   ⏭️  Skipping ${changeType} event`);\n    continue;\n  }\n  \n  // FILTER 2: Skip if already seen in this batch\n  if (seenMessages.has(dedupeKey)) {\n    console.log(`   ⏭️  Duplicate in batch - skipping`);\n    continue;\n  }\n  \n  if (messageId && clientState) {\n    seenMessages.add(dedupeKey);\n    console.log(`   ✅ Processing email`);\n    results.push({\n      json: {\n        user_id: clientState,\n        message_id: messageId,\n        subscription_id: subscriptionId\n      }\n    });\n  } else {\n    console.log('   ⚠️  Missing required fields');\n  }\n}\n\nconsole.log(`✅ Returning ${results.length} unique result(s)`);\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1760,
        9408
      ],
      "id": "dd8170ad-e060-4e81-9799-7d20c3ed384b",
      "name": "Parse_Notifications1"
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/users/{{ $json.user_email }}/messages/{{ $('Parse_Notifications1').item.json.message_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        9424
      ],
      "id": "76162263-bad4-4d8f-b955-8ba7b5f28160",
      "name": "Fetch_Email_Details1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c02ff0dd-98b1-4ba3-83fe-d947eb4c6dd2",
              "leftValue": "={{ $json.categories }}",
              "rightValue": "=",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        592,
        9424
      ],
      "id": "3b494602-ad15-453d-a0a0-38003f5ec526",
      "name": "Already_Categorized?1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        800,
        9552
      ],
      "id": "376bb73a-62ef-414e-84dd-219b59b4b63c",
      "name": "Skip_Already_Categorized1"
    },
    {
      "parameters": {
        "operation": "sanitize",
        "text": "={{ $json.contentForAI }}",
        "guardrails": {
          "pii": {
            "value": {
              "type": "all"
            }
          },
          "secretKeys": {
            "value": {
              "permissiveness": "strict"
            }
          },
          "urls": {
            "value": {
              "allowedUrls": ""
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.guardrails",
      "typeVersion": 1,
      "position": [
        1008,
        9264
      ],
      "id": "10eac9f1-ccfc-4159-b51e-a1a3887265e3",
      "name": "Apply_Guardrails1"
    },
    {
      "parameters": {
        "jsCode": "// Format for AI (keeping your logic)\nconst guardrailsInput = $input.item.json.guardrailsInput;\nconst emailData = $('Prepare_Email_Data').item.json;\n\nconst lines = guardrailsInput.split('\\n');\nlet subject = '';\nlet from = '';\nlet domain = '';\nlet preview = '';\n\nfor (let i = 0; i < lines.length; i++) {\n  const line = lines[i];\n  if (line.startsWith('Subject: ')) subject = line.replace('Subject: ', '').trim();\n  else if (line.startsWith('From: ')) from = line.replace('From: ', '').trim();\n  else if (line.startsWith('Domain: ')) domain = line.replace('Domain: ', '').trim();\n  else if (line.startsWith('Preview: ')) {\n    preview = lines.slice(i).join('\\n').replace('Preview: ', '').trim();\n    break;\n  }\n}\n\nconst aiPrompt = `Classify this email:\n\nSubject: ${subject}\nFrom: ${from}\nDomain: ${domain}\nPreview: ${preview}\n\nCategories:\n- URGENT: Critical, time-sensitive matters\n- TO_REPLY: Requires response\n- ACTION_REQUIRED: Needs action/tasks\n- MEETING_SUMMARY: Meeting notes\n- JAGGAER: JAGGAER system emails\n- FYI: Informational only\n- PROMOTIONAL: Marketing/newsletters\n\nRespond with JSON:\n{\n  \"category\": \"CATEGORY_NAME\",\n  \"reason\": \"Brief explanation\",\n  \"confidence\": 0.95\n}`;\n\nreturn {\n  json: {\n    subject: subject,\n    aiPrompt: aiPrompt,\n    emailId: emailData.emailId,\n    userId: emailData.userId,\n    userEmail: emailData.userEmail,\n    accessToken: emailData.accessToken\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        9264
      ],
      "id": "8185ef15-61b1-4888-80d4-358f74b5e080",
      "name": "Format_For_AI1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.aiPrompt }}",
        "options": {
          "systemMessage": "=You are an expert email categorization assistant for Groves & Company. Classify emails into specific categories based on content, urgency, and purpose.\n\nIMPORTANT: Content may contain masked PII like [EMAIL], [NAME], [PHONE]. Ignore masks and focus on context and keywords.\n\nCATEGORIES \n1. URGENT\n   Priority: HIGHEST\n   - Time-sensitive, critical matters requiring immediate attention\n   - Deadlines: today, tomorrow, or within 24-48 hours\n   - Keywords: urgent, asap, immediately, critical, emergency, deadline today, deadline tomorrow\n   - From executives (CEO, VP, President, C-suite)\n   - Strategic, high-level content\n   - Keywords: important update, strategic, executive summary, board meeting, quarterly report, time-sensitive\n   - System alerts, security issues, compliance deadlines\n\n2. TO_REPLY\n   Priority: HIGH\n   - Requires a direct response, confirmation, or reply from recipient\n   - Contains direct questions (?)\n   - Keywords: please respond, reply by, need your input, what do you think, can you, could you, would you, let me know\n   - Requests for: confirmation, approval, decision, feedback, opinion\n   - Forms, surveys, or documents requiring completion and submission\n   - Keywords: please return, submit by, send back, fill out, complete by, return by, RSVP\n   - Participation requests (even informal: \"don't be lame\", \"make sure to join\")\n   - Explicitly mentions expecting a reply or response\n   \n3. ACTION_REQUIRED\n   Priority: MEDIUM-HIGH\n   - Requires specific tasks/actions but not necessarily a reply\n   - Operational tasks that need completion\n   - Keywords: please review, requires your, action required, action needed, please process, please ensure, please update, please complete, must be completed, need to, should be\n   - Meeting invitations, calendar requests\n   - Keywords: join the meeting, invited you to, meeting request, calendar invite\n   - Task assignments with deadlines\n   - Data/document processing requests\n   - System configuration or credential updates\n   - Onboarding tasks, setup requests\n   \n4. MEETING_SUMMARY\n   Priority: MEDIUM\n   - Meeting notes, summaries, reports, or recordings\n   - From: Read.ai (executiveassistant@e.read.ai) or similar tools\n   - Keywords: meeting report, meeting summary, meeting notes, meeting recording, action items from meeting\n   - Post-meeting follow-ups with decisions/notes\n\n5. JAGGAER\n   Priority: MEDIUM\n   - JAGGAER procurement system emails\n   - Domain: jaggaer.com\n   - Keywords: JAGGAER, JU account, procurement, RFQ, purchase order\n\n6. FYI\n   Priority: LOW\n   - PURELY informational, NO action whatsoever needed\n   - Internal status updates with no requests\n   - Keywords: fyi, for your information, heads up, status update, just so you know\n   - Internal birthday wishes, celebrations, personal announcements\n   - Subject patterns: \"Internal Groves & Co: Happy Birthday\", employee celebrations\n   - CRITICAL EXCLUSIONS - If email contains ANY of these, it's NOT FYI:\n     * Any deadline or due date\n     * Words like \"please\", \"need\", \"must\", \"should\", \"require\"\n     * Questions requiring answers\n     * Requests for action, response, participation, or submission\n     * Calls to action (even soft ones like \"feel free to\", \"consider\")\n     * Meeting invites or RSVP requests\n\n7. PROMOTIONAL\n   Priority: LOWEST\n   - Marketing, promotional, newsletter, digest emails\n   - From: no-reply, noreply, notifications, marketing, newsletter addresses\n   - Keywords: unsubscribe, newsletter, mailing list, digest, promotional, view in browser, click here\n   - Commercial content with sales intent: sale, discount, free, buy now, coupon, limited time offer\n   - High image-to-text ratio with marketing imagery\n   - Conversion-driven content: sales announcements, product launches, abandoned cart reminders\n   - Domains: mailchimp, sendgrid, constantcontact, teams.mail.microsoft (for automated updates), rippling, cmaph\n   - Company announcements, product launches, educational content from external vendors\n   - Automated notifications from third-party services (GitHub, Slack, etc.)\n   - EXCLUSION: Internal birthday/celebration emails are FYI, not PROMOTIONAL\n\n8. EMAIL_SUMMARY\n   Priority: HIGH\n   - Daily digest emails summarizing incoming messages\n   - Subject pattern: \"Daily Email Summary - {number} Emails (x Urgent, y Action Items)\"\n   - Automated summaries of email activity\n   - Provides overview of email volume and priority breakdown\n   - Generated by internal email processing system\n\nCLASSIFICATION RULES \nPRIORITY ORDER (highest to lowest):\n1. URGENT → 2. EMAIL_SUMMARY → 3. TO_REPLY → 4. ACTION_REQUIRED → 5. MEETING_SUMMARY → 6. JAGGAER → 7. FYI → 8. PROMOTIONAL\n\nCore Rules:\n1. Choose exactly ONE category (the most fitting)\n2. Higher priority categories take precedence when multiple apply\n3. FYI is the EXCEPTION, not the default - if in doubt, it's NOT FYI\n4. TO_REPLY vs ACTION_REQUIRED distinction:\n   - Expects a reply/response/answer = TO_REPLY\n   - Expects task completion/processing = ACTION_REQUIRED\n   - If both apply, choose TO_REPLY (higher priority)\n5. Internal birthday/celebration emails = FYI (not PROMOTIONAL)\n\nDecision Tree for Common Confusions:\n\nEMAIL_SUMMARY Check:\n- Subject matches \"Daily Email Summary - X Emails\"? → EMAIL_SUMMARY\n- Otherwise, continue to other categories\n\nTO_REPLY vs ACTION_REQUIRED:\n- Contains questions or asks for feedback? → TO_REPLY\n- Explicitly asks for response/reply? → TO_REPLY\n- Requests form submission or document return? → TO_REPLY\n- Asks to complete a task but no response needed? → ACTION_REQUIRED\n- Meeting invite without RSVP needed? → ACTION_REQUIRED\n\nACTION_REQUIRED vs FYI:\n- Has words \"please [verb]\" (please process, review, update, ensure)? → ACTION_REQUIRED\n- Contains deadline with any request? → ACTION_REQUIRED or TO_REPLY (never FYI)\n- Mentions \"need to\", \"must\", \"should\", \"requires\"? → ACTION_REQUIRED\n- Pure status update with no asks? → FYI\n- Birthday/celebration announcement? → FYI\n\nFYI vs PROMOTIONAL:\n- Internal birthday/celebration email? → FYI\n- From no-reply/marketing address with commercial intent? → PROMOTIONAL\n- Has unsubscribe link + sales/marketing content? → PROMOTIONAL\n- Internal colleague sharing info? → FYI\n\nOUTPUT FORMAT \nRespond ONLY with valid JSON. No other text, no markdown, no explanations.\n{\n  \"category\": \"CATEGORY_NAME\",\n  \"reason\": \"Brief 1-sentence explanation focusing on key decision factor\"\n}\n\nEXAMPLES \nExample 1: HR Onboarding with Tasks\n\"Please process this information securely and ensure all access credentials are updated within 24 hours.\"\n→ ACTION_REQUIRED (Has \"please process\" and \"ensure\" with deadline - clear action items)\n\nExample 2: Question Email\n\"What do you think about the proposal? Let me know by Friday.\"\n→ TO_REPLY (Contains question and explicit request for response)\n\nExample 3: Status Update\n\"FYI - The server migration completed successfully last night. No action needed.\"\n→ FYI (Purely informational with explicit \"no action needed\")\n\nExample 4: Soft Request\n\"Feel free to join us for lunch if you're available.\"\n→ TO_REPLY (Invitation expecting RSVP/response even if informal)\n\nExample 5: Deadline Without Action\n\"Just a heads up - the deadline for the project is Friday. No action needed from you.\"\n→ FYI (Deadline mentioned but explicitly states no action needed)\n\nExample 6: Daily Email Summary\nSubject: \"Daily Email Summary - 47 Emails (3 Urgent, 12 Action Items)\"\n→ EMAIL_SUMMARY (Matches daily digest pattern from internal system)\n\nExample 7: Internal Birthday Email\nSubject: \"Internal Groves & Co: Happy Birthday Sarah!\"\nBody: [E-card with birthday wishes]\n→ FYI (Internal celebration, purely informational)\n\nExample 8: Marketing Promotion\nSubject: \"50% Off Sale - Limited Time Only!\"\nBody: High-image content, \"Shop Now\" buttons, unsubscribe link\n→ PROMOTIONAL (Commercial intent, sales-driven, marketing imagery)"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1424,
        9264
      ],
      "id": "e82a3004-48f0-417f-a1de-39683eceb782",
      "name": "AI_Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "Sachi_gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "Sachi_gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1360,
        9552
      ],
      "id": "dec807fc-65f3-4dfb-b01a-32444cd6c2d9",
      "name": "OpenAI_Chat_Model1",
      "credentials": {
        "openAiApi": {
          "id": "1CvVBkpLYlp8kq6O",
          "name": "Sachin_LiteLLM_OpenAI_API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse AI result\nconst aiOutput = $input.item.json.output;\nconst emailData = $('Format_For_AI1').item.json;\n\nlet aiResult;\ntry {\n  const cleanText = aiOutput.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  aiResult = JSON.parse(cleanText);\n} catch (e) {\n  console.error('Failed to parse:', e.message);\n  aiResult = { category: 'FYI', reason: 'Parse failed', confidence: 0.5 };\n}\n\nconsole.log(`✅ ${emailData.userEmail}: ${aiResult.category}`);\n\nreturn {\n  json: {\n    emailId: emailData.emailId,\n    category: aiResult.category,\n    reason: aiResult.reason,\n    confidence: aiResult.confidence,\n    userId: emailData.userId,\n    userEmail: emailData.userEmail,\n    accessToken: emailData.accessToken,\n    subject: emailData.subject\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        9264
      ],
      "id": "3743fc94-b10d-41e4-9980-d9b1b52a8f5b",
      "name": "Parse_Classification1"
    },
    {
      "parameters": {
        "jsCode": "// YOUR COMPREHENSIVE PII MASKING FUNCTION (keeping exactly as-is)\nconst email = $input.item.json;\nconst userCreds = $('Merge_Credentials1').item.json;\n\nfunction maskSensitiveData(text) {\n  if (!text) return text;\n  \n  let maskedText = text;\n  \n  const patterns = [\n    {\n      regex: /\\b(Passport|Passport\\s*Number|Passport\\s*#|Travel\\s*Document)[\\s:]*[\\r\\n]*([A-Z]?[A-Z0-9]{6,9})\\b/gi,\n      replacement: (match, label) => `${label}: <PASSPORT>`\n    },\n    {\n      regex: /\\b(SSN|Social\\s*Security\\s*Number|Social\\s*Security)[\\s:]*[\\r\\n]*(\\d{3}[-\\s]?\\d{2}[-\\s]?\\d{4})\\b/gi,\n      replacement: (match, label) => `${label}: <SSN>`\n    },\n    { regex: /\\b\\d{3}[-\\s]?\\d{2}[-\\s]?\\d{4}\\b/g, replacement: '<SSN>' },\n    {\n      regex: /\\b(EIN|Tax\\s*ID|Employer\\s*ID)[\\s:]*[\\r\\n]*(\\d{2}[-\\s]\\d{7})\\b/gi,\n      replacement: (match, label) => `${label}: <EIN>`\n    },\n    {\n      regex: /\\b(Driver'?s?\\s*License|DL|License\\s*Number|Driving\\s*License)[\\s:]*[\\r\\n]*([A-Z]{2}?\\s*[A-Z0-9\\s-]{5,20})\\b/gi,\n      replacement: (match, label) => `${label}: <LICENSE>`\n    },\n    {\n      regex: /\\b(National\\s*ID|ID\\s*Number|Citizen\\s*ID)[\\s:]*[\\r\\n]*([A-Z0-9\\s-]{6,20})\\b/gi,\n      replacement: (match, label) => `${label}: <GOV_ID>`\n    },\n    {\n      regex: /\\b(DOB|Date\\s*of\\s*Birth|Birth\\s*Date|Born|Birthday)[\\s:]*[\\r\\n]*([A-Za-z]+\\s+\\d{1,2},?\\s+\\d{4})\\b/gi,\n      replacement: (match, label) => `${label}: <DOB>`\n    },\n    {\n      regex: /\\b(DOB|Date\\s*of\\s*Birth|Birth\\s*Date|Born|Birthday)[\\s:]*[\\r\\n]*(\\d{1,2}[-/]\\d{1,2}[-/]\\d{2,4})\\b/gi,\n      replacement: (match, label) => `${label}: <DOB>`\n    },\n    { regex: /\\b\\d{1,2}[-/]\\d{1,2}[-/]\\d{2,4}\\b/g, replacement: '<DATE>' },\n    {\n      regex: /\\b(Phone|Telephone|Tel|Mobile|Cell|Contact)[\\s:]*[\\r\\n]*(\\+?1?[-.\\s]?\\(?\\d{3}\\)?[-.\\s]?\\d{3}[-.\\s]?\\d{4})\\b/gi,\n      replacement: (match, label) => `${label}: <PHONE>`\n    },\n    { regex: /\\b\\+?1?[-.\\s]?\\(?\\d{3}\\)?[-.\\s]?\\d{3}[-.\\s]?\\d{4}\\b/g, replacement: '<PHONE>' },\n    { regex: /\\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Z|a-z]{2,}\\b/g, replacement: '<EMAIL>' },\n    { regex: /\\b(?:\\d{4}[-\\s]?){3}\\d{4}\\b/g, replacement: '<CARD>' },\n    {\n      regex: /\\b(Password|Pass\\s*word)[\\s:*=-]*(?:\\r?\\n+)?[\"'`]?(?!<PASSWORD>)([^\\s\\r\\n,;<>\"]{4,30})[\"'`]?/gi,\n      replacement: (match, label, pwd) => match.includes('<PASSWORD>') ? match : match.replace(pwd, '<PASSWORD>')\n    },\n    {\n      regex: /\\b(Username|User\\s*Name|Login)[\\s:*=-]*(?:\\r?\\n+)?[\"'`]?(?!<USERNAME>)([^\\s\\r\\n,;<>\"]+)[\"'`]?/gi,\n      replacement: (match, label, value) => match.includes('<USERNAME>') ? match : match.replace(value, '<USERNAME>')\n    }\n  ];\n  \n  patterns.forEach(({ regex, replacement }) => {\n    maskedText = maskedText.replace(regex, replacement);\n  });\n  \n  return maskedText;\n}\n\n// Extract sender\nlet senderEmail = '';\nlet senderDomain = '';\n\nif (email.from) {\n  if (typeof email.from === 'string') {\n    senderEmail = email.from;\n  } else if (email.from.emailAddress) {\n    senderEmail = email.from.emailAddress.address || '';\n  }\n  senderDomain = senderEmail.split('@')[1] || '';\n}\n\nconst maskedSubject = maskSensitiveData(email.subject || '');\nconst maskedBody = maskSensitiveData(email.bodyPreview || '');\n\nconst contentForAI = `Subject: ${maskedSubject}\\nFrom: ${senderEmail}\\nDomain: ${senderDomain}\\nPreview: ${maskedBody}`;\n\nconsole.log(`✅ Email prepared for user: ${userCreds.user_email}`);\n\nreturn {\n  json: {\n    emailId: email.id,\n    maskedSubject: maskedSubject,\n    contentForAI: contentForAI,\n    senderDomain: senderDomain,\n    hasAttachments: email.hasAttachments || false,\n    importance: email.importance || 'normal',\n    receivedDateTime: email.receivedDateTime,\n    containsPII: contentForAI.includes('<'),\n    userId: userCreds.user_id,\n    userEmail: userCreds.user_email,\n    accessToken: userCreds.access_token\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        9264
      ],
      "id": "f143d4db-813a-4c98-86cd-17069aaf0e4f",
      "name": "Prepare_Email_Data"
    },
    {
      "parameters": {
        "batchSize": 4,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1984,
        9264
      ],
      "id": "cad18d8d-b2e2-4322-a69e-5268678c7c4d",
      "name": "Batch Categorize"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://graph.microsoft.com/v1.0/users/{{ $json.userEmail }}/messages/{{ $json.emailId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Parse_Classification1').item.json.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"categories\": [\"{{ $json.category }}\"] }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2208,
        9472
      ],
      "id": "5119c663-cfde-4590-a419-7db5f5ccc7a8",
      "name": "Apply Category"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2384,
        9472
      ],
      "id": "650fd27b-69a9-4f4a-afdb-0228ed2b06f9",
      "name": "Wait 500ms",
      "webhookId": "email-categorize-wait"
    },
    {
      "parameters": {
        "jsCode": "// FIXED: Summarize Results Node Code\n// This retrieves category data from Parse Classifications node\n\n// Get the actual category data from Parse Classifications node\nlet categorizedEmails = [];\ntry {\n  const parseNode = $('Parse Classifications2');\n  if (parseNode && parseNode.all().length > 0) {\n    categorizedEmails = parseNode.all().map(item => ({\n      emailId: item.json.emailId,\n      category: item.json.category,\n      reason: item.json.reason,\n      confidence: item.json.confidence,\n      subject: item.json.subject\n    }));\n    console.log(`✓ Retrieved ${categorizedEmails.length} categorized emails`);\n  }\n} catch (e) {\n  console.error('Failed to get Parse Classifications data:', e.message);\n}\n\n// If we couldn't get from Parse Classifications, try to reconstruct from current input\nif (categorizedEmails.length === 0) {\n  console.warn('Could not retrieve from Parse Classifications, using current input');\n  categorizedEmails = $input.all().map(item => ({\n    emailId: item.json.emailId || item.json.id,\n    category: item.json.category || 'UNKNOWN',\n    reason: item.json.reason || 'No reason provided',\n    confidence: item.json.confidence || 0,\n    subject: item.json.subject || 'No subject'\n  }));\n}\n\n// Build summary\nconst summary = {\n  total_processed: categorizedEmails.length,\n  timestamp: new Date().toISOString(),\n  by_category: {},\n  emails: []\n};\n\ncategorizedEmails.forEach(email => {\n  const category = email.category;\n  \n  // Count by category\n  if (!summary.by_category[category]) {\n    summary.by_category[category] = 0;\n  }\n  summary.by_category[category]++;\n  \n  // Add to emails list\n  summary.emails.push({\n    subject: email.subject,\n    category: category,\n    reason: email.reason,\n    confidence: email.confidence\n  });\n});\n\nconsole.log('Summary by category:', summary.by_category);\n\nreturn [{ json: summary }];"
      },
      "id": "fad57d58-e9a3-4e11-91b6-de23eee00162",
      "name": "Summarize Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2224,
        9248
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email-classification",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2928,
        9392
      ],
      "id": "742bcd49-e061-4aa5-902d-80fbcff7b6a7",
      "name": "Email_Notification_Webhook1",
      "webhookId": "email-categorization-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Check_Token_Expiry node (corrected)\nconst credentials = $input.first().json;\n\n// tokenExpiresAtUnix might be seconds (10 digits) or ms (13 digits)\nlet expiresAtMs = Number(credentials.token_expires_at_unix);\n\nif (!Number.isFinite(expiresAtMs)) {\n  // fallback to ISO string if Unix is missing/bad\n  expiresAtMs = Date.parse(credentials.token_expires_at);\n}\n\n// If it's seconds (< 10^12), convert to milliseconds\nif (expiresAtMs < 1e12) {\n  expiresAtMs = expiresAtMs * 1000;\n}\n\nconst nowMs = Date.now();\nconst timeUntilExpiryMs = expiresAtMs - nowMs;\nconst timeUntilExpirySec = Math.floor(timeUntilExpiryMs / 1000);\n\n// Treat expired tokens as \"needs refresh\" too\nconst needsRefresh = timeUntilExpirySec <= 300; // <5 min OR already expired\n\nconsole.log(`Token check for ${credentials.user_email}: ${timeUntilExpirySec}s remaining, refresh=${needsRefresh}`);\n\nreturn [{\n  json: {\n    ...credentials,\n    needsRefresh: needsRefresh,\n    timeUntilExpiry: timeUntilExpirySec,\n    tokenExpiresAtMs: expiresAtMs,\n    nowMs: nowMs\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1072,
        9408
      ],
      "id": "6e7f4c77-9c6c-4e2d-8b70-09bd09f5eab8",
      "name": "Check_Token_Expiry1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a917bc8f-44df-4af0-a2bf-518a5c8929a4",
              "leftValue": "={{ $json.needsRefresh }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -864,
        9408
      ],
      "id": "8eabba1f-433f-4ba8-8293-0f448e286de1",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://login.microsoftonline.com/{{ $vars.Inbox_Assistant_Microsoft_Tenant_Id }}/oauth2/v2.0/token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $vars.Inbox_Assistant_Microsoft_Client_Id }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $vars.Inbox_Assistant_Microsoft_Client_Secret }}"
            },
            {
              "name": "grant_type",
              "value": "refresh_token"
            },
            {
              "name": "refresh_token",
              "value": "={{ $json.refresh_token }}"
            },
            {
              "name": "scope",
              "value": "openid profile email User.Read Calendars.ReadWrite offline_access"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -528,
        9184
      ],
      "id": "f308e240-132f-455d-a7e1-0d6bda6c2be7",
      "name": "Refresh_Token_Microsoft1"
    },
    {
      "parameters": {
        "jsCode": "// Calculate_New_Expiry node\nconst refreshData = $input.first().json;\nconst checkData = $('Check_Token_Expiry1').first().json;\n\nconst access_token = refreshData.access_token;\nconst refresh_token = refreshData.refresh_token || checkData.refresh_token;\nconst expires_in = refreshData.expires_in || 3600; // Microsoft returns this in SECONDS\n\n// Store in SECONDS (not milliseconds)\nconst current_time = Math.floor(Date.now() / 1000); // SECONDS\nconst expires_at_unix = current_time + expires_in; // SECONDS\nconst expires_at_iso = new Date(expires_at_unix * 1000).toISOString(); // Convert to ms for ISO\n\nconsole.log(`✅ Token refreshed for ${checkData.user_email}`);\nconsole.log(`   New expiry: ${expires_at_unix} (${expires_at_iso})`);\n\nreturn {\n  user_id: checkData.user_id,\n  user_email: checkData.user_email,\n  user_name: checkData.user_name,\n  outlook_credential_id: checkData.outlook_credential_id,\n  timezone: checkData.timezone,\n  webhook_url: checkData.webhook_url,\n  is_active: checkData.is_active,\n  access_token: access_token,\n  refresh_token: refresh_token,\n  token_expires_at: expires_at_iso,\n  token_expires_at_unix: expires_at_unix, // Store as SECONDS\n  last_refreshed: new Date().toISOString(),\n  subscription_id: checkData.subscription_id,\n  subscription_expires_at: checkData.subscription_expires_at,\n  id: checkData.id,\n  createdAt: checkData.createdAt,\n  updatedAt: new Date().toISOString()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        9184
      ],
      "id": "a9ed20fb-54cc-4dac-9895-c3148fe59b10",
      "name": "Calculate_New_Expiry1"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "pWYV0ILQScFX2xKN",
          "mode": "list",
          "cachedResultName": "Inbox_Personal_Assistant_User_Credentials",
          "cachedResultUrl": "/projects/1wvyPEEDrvIyF7vc/datatables/pWYV0ILQScFX2xKN"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $json.user_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "access_token": "={{ $json.access_token }}",
            "refresh_token": "={{ $json.refresh_token }}",
            "token_expires_at": "={{ $json.token_expires_at }}",
            "token_expires_at_unix": "={{ $json.token_expires_at_unix }}",
            "last_refreshed": "={{ $json.last_refreshed }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "user_email",
              "displayName": "user_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "user_name",
              "displayName": "user_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "outlook_credential_id",
              "displayName": "outlook_credential_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "timezone",
              "displayName": "timezone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "webhook_url",
              "displayName": "webhook_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "is_active",
              "displayName": "is_active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "access_token",
              "displayName": "access_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "refresh_token",
              "displayName": "refresh_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "token_expires_at",
              "displayName": "token_expires_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "token_expires_at_unix",
              "displayName": "token_expires_at_unix",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_refreshed",
              "displayName": "last_refreshed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "subscription_id",
              "displayName": "subscription_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "subscription_expires_at",
              "displayName": "subscription_expires_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -144,
        9184
      ],
      "id": "e6a36bcf-126e-485a-9f4c-e591015a9ed6",
      "name": "Update row(s)1"
    },
    {
      "parameters": {
        "jsCode": "// Merge_Credentials node\n// Ensures correct token is used regardless of which path was taken\n\nconst checkData = $('Check_Token_Expiry1').first().json;\n\n// Try to get refreshed credentials from Update node\ntry {\n  const updateData = $('Update row(s)1').first().json;\n  \n  if (updateData && updateData.access_token) {\n    console.log(`✅ Using REFRESHED token for ${checkData.user_email}`);\n    return {\n      json: {\n        user_id: checkData.user_id,\n        user_email: checkData.user_email,\n        access_token: updateData.access_token,\n        refresh_token: updateData.refresh_token,\n        // Include other necessary fields\n      }\n    };\n  }\n} catch (e) {\n  // Update node didn't run (FALSE branch was taken)\n  console.log(`ℹ️  Update node not executed, using existing token for ${checkData.user_email}`);\n}\n\n// Token was still valid, use original credentials\nconsole.log(`✅ Using EXISTING token for ${checkData.user_email}`);\nreturn {\n  json: {\n    user_id: checkData.user_id,\n    user_email: checkData.user_email,\n    access_token: checkData.access_token,\n    refresh_token: checkData.refresh_token,\n    // Include other necessary fields\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        9424
      ],
      "id": "aa015f00-0713-412d-a54b-6574328b275d",
      "name": "Merge_Credentials1"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2464,
        9248
      ],
      "id": "defaf509-8603-4043-a5d8-a768f61caa31",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "pWYV0ILQScFX2xKN",
          "mode": "list",
          "cachedResultName": "Inbox_Personal_Assistant_User_Credentials",
          "cachedResultUrl": "/projects/1wvyPEEDrvIyF7vc/datatables/pWYV0ILQScFX2xKN"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $json.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1360,
        9408
      ],
      "id": "609e44b9-24a5-4d80-aa77-78e350ebc008",
      "name": "Get_User_Credentials",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Accepted",
        "options": {
          "responseCode": 202,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/plain"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1648,
        9040
      ],
      "id": "5b2be2b1-ce48-4dc6-83d5-c178e6155ae8",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Conditional_Response Code Node\nconst input = $input.first().json;\n\nif (input.isValidation) {\n  // Validation request - return validation token\n  console.log('📝 Responding with validation token');\n  \n  return {\n    json: {\n      responseType: 'validation',\n      validationToken: input.validationToken\n    }\n  };\n} else {\n  // Email notification - return immediate acknowledgment\n  console.log('✅ Acknowledging email notification');\n  \n  return {\n    json: {\n      responseType: 'acknowledgment',\n      status: 'accepted'\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1856,
        8816
      ],
      "id": "77e2bf25-293a-4d10-9f35-838b34ae0d42",
      "name": "Conditional_Response"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.responseType === 'validation' ? $json.validationToken : 'Accepted' }}",
        "options": {
          "responseCode": "={{ $json.responseType === 'validation' ? 200 : 202 }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "={{ $json.responseType === 'validation' ? 'text/plain' : 'text/plain' }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1664,
        8816
      ],
      "id": "d165ed05-200f-4076-b9d3-b6fdec9ddb24",
      "name": "Send_Response"
    }
  ],
  "pinData": {},
  "connections": {
    "Check_If_Validation1": {
      "main": [
        [
          {
            "node": "Is_Validation_Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is_Validation_Request1": {
      "main": [
        [
          {
            "node": "Conditional_Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse_Notifications1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse_Notifications1": {
      "main": [
        [
          {
            "node": "Get_User_Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch_Email_Details1": {
      "main": [
        [
          {
            "node": "Already_Categorized?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Already_Categorized?1": {
      "main": [
        [
          {
            "node": "Prepare_Email_Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip_Already_Categorized1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply_Guardrails1": {
      "main": [
        [
          {
            "node": "Format_For_AI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format_For_AI1": {
      "main": [
        [
          {
            "node": "AI_Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI_Agent1": {
      "main": [
        [
          {
            "node": "Parse_Classification1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI_Chat_Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI_Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse_Classification1": {
      "main": [
        [
          {
            "node": "Batch Categorize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare_Email_Data": {
      "main": [
        [
          {
            "node": "Apply_Guardrails1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Categorize": {
      "main": [
        [
          {
            "node": "Summarize Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Apply Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Category": {
      "main": [
        [
          {
            "node": "Wait 500ms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 500ms": {
      "main": [
        [
          {
            "node": "Batch Categorize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email_Notification_Webhook1": {
      "main": [
        [
          {
            "node": "Check_If_Validation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_Token_Expiry1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Refresh_Token_Microsoft1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge_Credentials1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refresh_Token_Microsoft1": {
      "main": [
        [
          {
            "node": "Calculate_New_Expiry1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate_New_Expiry1": {
      "main": [
        [
          {
            "node": "Update row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)1": {
      "main": [
        [
          {
            "node": "Merge_Credentials1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge_Credentials1": {
      "main": [
        [
          {
            "node": "Fetch_Email_Details1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Results": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_User_Credentials": {
      "main": [
        [
          {
            "node": "Check_Token_Expiry1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conditional_Response": {
      "main": [
        [
          {
            "node": "Send_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "154afbf9-c461-4d3b-a833-aec691dd28c2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d9ec11e49c00b52cb9e60c07d200a5ec80e852e8cfc4111e3085c68a7c796886"
  },
  "id": "qn09kNIoOtOwL1JM",
  "tags": []
}